.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg_image {
  background: url('./image/Login.jpg');

  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  color: #f5f5ff;
}

.navbar {
  z-index: 10;

}
/* 
.btn-login {
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px 10px;
  border: 2px solid #535353;
} */

.btn-logout {
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px 10px;
  border: 2px solid #535353;
  background: green;
  color: white;
  margin-left: 10px;

}

.Bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;

  position: absolute;
  left: 50.57%;
  right: 28.39%;
  top: 38.75%;
  bottom: 43.75%;

}

.sign-up-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-container input {
  margin: 20px;
  width: 500px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 55%;
  top: 30%;
}

.bill h1 {
  padding-bottom: 20px;
  margin-left: 25px;
}

/* .position{
      position: absolute;
      left: 38%;
      right: 50%;
      top: 45%;
      bottom: 50%;
      width: 350px;
      height: 80px;
  
    } */
.form-container {
  width: 550px;
  height: 400px;


  display: flex;
  flex-direction: column;
}

.form-container .body {
  flex: 70%;
}

.button {

  margin-left: 70px;
  width: 400px;



}

.btn-register {
  margin-left: 230px;
  margin-top: 20px;
  color: #61dafb;
}

.link {
  color: azure;
}

.detail-left {
  width: 736px;
  height: 772px;
  background-color: #FFF;
}

.detail-image {
  width: 414.5px;
  height: 470px;
  position: absolute;
  left: 208px;
  top: 241px;
  /* background-color: white; */
}



.mage {
  position: absolute;
  right: 0%;
  margin-left: 2px;
  border-radius: 20px;

}

.h1-banner {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 56px;
  color: #44533C;
  padding-top: 124px;
  padding-bottom: 2px;
}

.h2-banner {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 20px;
  padding-left: 180px;
  color: #44533C;
}

.banner {
  display: flex;
  background: rgba(133, 166, 51, 0.14);
  border-radius: 20px;

}

.btn-banner {
  margin-left: 180px;
  width: 300px;
}

.banner-left {
  width: 600px;
  height: 577px;
}

.banner-group {
  padding-top: 50px;
}

.item-box {
  width: 155px;
  height: 200px;
}

.h1-item {

  margin-left: 2px;
  font-family: 'Roboto';
  line-height: 30px;
  font-size: 30px;
  font-weight: 5;
  color: #878787;

}

.item {
  display: flex;
}



.detail-right {
  width: 706px;
  height: 771px;
}

.detail {
  display: flex;
}

.btn-back {
  margin-top: 100px;
  margin-left: 60px;
  display: flex;
}

.bill {

  width: 1155px;
  height: 263px;
  left: 138px;
  margin: 5px;
  display: flex;

  background: #FFFFFF;
  /* s1 */

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border-style: outset;
  justify-content: space-between;
}

.item-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #056915;
  height: 360px;
  width: 320px;
  margin-left: 2px;

}

.item-card:hover {
  transform: scale(1.1, 1.1)
}

.item- {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  padding: 10px;
}


.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);

}

.quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.cart-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;

}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.cart-icon {
  font-size: 25px;
  color: black;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 20px;
  color: black;


}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;

}

.item-desc .bottom {
  margin-top: 60px;
}

.btn-container {
  height: 50px;
  margin: auto;


}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: red;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.flex h5 {
  font-size: 24px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;

}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
  border-radius: 5px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);

}

.img-category {


  width: 25%;
  padding-top: 10px;
  margin-right: 100px;
}

.content-category {
  width: 55%;
}

.price-bill {


  display: flex;
  justify-content: space-between;
}

.price-bill h3 {
  font-size: 22px;
  margin-top: 20px;

}

.add-address {
  display: flex;
}

.add-address button {
  height: 40px;
  border: 2px solid #535353;
  background: green;
  color: white;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

}

.add-address button :hover {
  transform: scale(1.1, 1.1);


}